<section class="gallery" id="gallery">
    <ul class="gallery-list list">
        {{#each items}}
        <li class="gallery-item item">
            <img src="#" alt="">
        </li>
        {{/each}}
    </ul>
</section>